*.out
*.o
*.obj
*.exe
*.dSYM

tarefa00/bomdia
tarefa00/boanoite

tarefa01/capicua
tarefa01/parciais
tarefa01/sela

tarefa02/classificar
tarefa02/consultas

tarefa03/centroide
tarefa03/quase_palindromo
tarefa03/recompensa
